* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  margin: 10px;
}
.row {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  width: 100%;
}
input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
#sample-container {
  /* display: flex; */
}
